<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Formül Kazanı
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Formül Kazanı</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Yeni bir yol</ion-card-subtitle>
            <ion-card-title>Günün motivasyonu</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Diğerlerinden daha akıllı olmak zorunda değiliz. Diğerlerinden daha disiplinli olmak zorundayız. </ion-card-content>
    </ion-card>



    <ion-card>
        <ion-item href="#">

            <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
            <ion-label>Temel Kavramlar (Sayılar)</ion-label>
        </ion-item>

        <ion-item href="#">

            <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
            <ion-label>Rasyonel Sayılar ve Ondalık Kesirler
            </ion-label>
        </ion-item>

        <ion-item href="#">

            <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
            <ion-label>Sayı Sistemleri ve Basamak Kavramı
            </ion-label>
        </ion-item>

        <ion-item href="#">

            <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
            <ion-label>Asal Çarpanlar ve Tam Bölen Sayısı
            </ion-label>
        </ion-item>

        <ion-item href="#">

            <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
            <ion-label>Bölme ve Bölünebilme Kuralları
            </ion-label>
        </ion-item>

        <ion-item href="#">

            <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
            <ion-label>Faktöriyel</ion-label>
        </ion-item>

        <ion-item href="#">

            <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
            <ion-label>Obeb (Ebob) ve Okek (Ekok)
            </ion-label>
        </ion-item>

        <ion-item href="#">

            <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
            <ion-label>Denklem Çözme
            </ion-label>
        </ion-item>

        <ion-item href="#">

            <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
            <ion-label>Basit Eşitsizlikler ve Sıralama
            </ion-label>
        </ion-item>

        <ion-item href="#">

            <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
            <ion-label>Mutlak Değer
            </ion-label>
        </ion-item>

        <ion-item href="#">

            <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
            <ion-label>Üslü Sayılar
            </ion-label>
        </ion-item>
    </ion-card>


</ion-content>